<nav class="h-16 w-full bg-gradient-to-r  from-blue-200 to-blue-400 flex justify-between ">
    <div class="h-16 w-[30%] flex gap-3  pl-10  items-center ">
        <img src="/assets/images/main logo.png" alt="" class="h-14 ">
        <p class="text-2xl pt-4 font-semibold  text-pink-600 ">StreemBridge</p>
    </div>
    <div class="w-16 h-16 bg-gray-300 relative right-5 rounded-full border-2 border-pink-600 flex items-center justify-center font ">
         <!-- <p class="font-extrabold text-4xl" >A</p> -->
          <span class="text-3xl text-pink-600"><i class="fa-solid fa-user"></i></span>
    </div>
</nav>